.input-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.input {
  background-color: var(--text-color);
  color: var(--main-color);
  border: 1px solid var(--main-color);
  outline: none;
  border-radius: 4px;
  padding: 0.4em;
  font-size: 1.5rem;
}

.input::-webkit-search-cancel-button{
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 10px;
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}