.button {
  padding: 0.5rem;
  background-color: var(--secondary-color);
  color: var(--main-color);
  border-radius: 0.2rem;
  border-color: var(--decorate-color);
  border-width: 2px;
  cursor: pointer;
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.button:focus {
  outline: 1px solid var(--main-color);
  outline-offset: -4px;
}

.button:active {
  transform: scale(0.99);
}