.form {
  display: flex;
  flex-direction: column;
  background-color: var(--light-color);
  padding: 1rem;
  margin-top: 2rem;
  gap: 2rem;
  width: 100%;
  max-width: 500px;
  border: 1px solid var(--main-color);
}

.label {
  font-size: 1.2rem;
  margin-bottom: 0.2em;
}

.form-input {
  background-color: white;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  outline: none;
  border-radius: 4px;
  padding: 0.2em;
  font-size: 1rem;
  width: 100%;
}

.fieldset {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
}

.legend {
  margin-bottom: 1rem;
}
.radio-input {
  display: flex;
  align-items: center;
}

.radio-label {
  font-size: 0.8rem;
}

.custom-file-input::-webkit-file-upload-button {
  background-color: var(--secondary-color);
  color: var(--main-color);
  border-radius: 0.2rem;
  border-color: var(--decorate-color);
  border-width: 2px;
  border-style: solid;
  cursor: pointer;
  display: inline-block;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.textarea {
  resize: vertical;
  max-height: 20rem;
}
