.card {
  font-family: 'Times New Roman', Times, serif;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.info {
  padding: 0.5rem 0.2rem;
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 2rem;
  background-image: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  color: var(--light-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.status {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.5rem;
}

.rating {
  font-weight: 700;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

.poster {
  position: relative;
  width: 100%;
  padding-top: 140%;
}

.card-image {
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.card-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.title {
  font-size: 1rem;
}

.title:first-child {
  font-weight: 700;
}

.canonical-title {
  font-size: 0.8rem;
}

.description {
  margin: 1.5rem 0;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.volume-info {
  padding-top: 0.4rem;
  font-size: 0.8rem;
  display: flex;
  gap: 0.6rem;
  margin-left: auto;
}

.count {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.card-footer {
  font-size: 0.7rem;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.serialization {
  font-weight: 900;
}
