.modal-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  z-index: 5;
}

.modal {
  width: 70vw;
  max-width: 90%;
  height: 70vh;
  max-height: 90%;
  border-radius: 4px;
  background-color: var(--light-color);
  position: absolute;
  top: 20vh;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  overflow: hidden;
}

.close-modal {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 50%;
  cursor: pointer;
  z-index: 5;
}
