.header {
  background-color: var(--main-color);
  color: var(--light-color);
  padding: 2rem;
  font-size: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links {
  display: flex;
  gap: 1rem;
}
